<div class="container mt-3">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Musicians</h1>
    <div data-controller="toggle">
      <button data-action="click->toggle#fire" class="btn btn-outline-primary">Add a new offer</button>
      <div data-toggle-target="togglableElement" class="d-none">
        <%= render "offerings/form", offering: Offering.new %>
      </div>
    </div>
  </div>
  <%= render "search" %>
  <div class="cards">
    <% @offerings.each do |offering| %>
      <div class="card-trip mt-5">
        <% if offering.photo.attached? %>
          <%= cl_image_tag offering.photo.key %>
        <% else %>
          <%= image_tag "music.jpg" %>
        <% end %>
        <%# <img src="app/assets/images/pexels-wendy-wei-1714354.jpg" /> %>
        <div class="card-trip-infos">
          <div>
            <h2><%= offering.user.full_name %></h2>
            <p><%= offering.instrument.capitalize %></p>
          </div>
          <div>
            <p><i class="fa-solid fa-location-dot mb-2"></i> <%= offering.user.city %></p>
            <h2 class="card-trip-pricing"><i class="fa-solid fa-yen-sign"></i><%= offering.price %></h2>
          </div>
        </div>
        <%= link_to "", offering_path(offering), class: 'card-trip-link' %>
      </div>
    <% end %>
  </div>
</div>
