<li class="list-group-item d-flex justify-content-between">
  <div class="img-container" style="max-width 25%">
    <img src="https://example.com/image.jpg" class="img-fluid">
  </div>
  <div class="card border-0"><%= booking.offering.user.full_name %></div>
  <div class="card border-0"><%= booking.start_date.strftime("%b %d %-l%P") %></div>
  <div class="card border-0"><%= booking.end_date.strftime("%b %d %-l%P") %></div>
  <div class="btn btn-warning border-0"><%= booking.status %></div>
</li>
<li class="list-group-item">Details: <%= booking.details %></li>
