<div
  class="container bg-light p-3"
  data-controller='estimate'
  data-estimate-price-value='<%= @offering.price %>'
  >
  <%= simple_form_for [@offering, @booking] do |f| %>
    <%= f.input :start_date, as: :string, input_html: {data: { controller: "datepicker", "estimate-target" => 'start' }} %>
    <%= f.input :end_date,  as: :string, input_html: {data: { controller: "datepicker", "estimate-target" => 'end' }} %>
    <button class='btn btn-success my-3 p-2' data-action='click->estimate#total'>
      Get Estimate
    </button>

    <div data-estimate-target='estimateBtn'
    class='bg-success rounded text-center'>
      <h5 class='p-3 my-3'>Your estimate price for this booking</h5>
    </div>

    <%if @offering.user != current_user %>
      <%= f.input :details %>
      <div class="button-form">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>

  <% end %>
</div>
